<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.1" targetFramework="net45" />
  <package id="GenerateUserFriendlyId.Module" version="1.2.5826.39144" targetFramework="net45" />
  <package id="Xafology.ExpressApp" version="1.2.5826.39144" targetFramework="net45" />
  <package id="Xafology.ExpressApp.Concurrency" version="1.2.5826.39147" targetFramework="net45" />
  <package id="Xafology.ExpressApp.Layout" version="1.2.5826.39144" targetFramework="net45" />
  <package id="Xafology.ExpressApp.MsoExcel" version="1.2.5827.38364" targetFramework="net45" />
  <package id="Xafology.ExpressApp.PivotGrid" version="1.2.5826.39145" targetFramework="net45" />
  <package id="Xafology.ExpressApp.PivotGridLayout" version="1.2.5826.39146" targetFramework="net45" />
  <package id="Xafology.ExpressApp.Xpo" version="1.2.5826.39152" targetFramework="net45" />
  <package id="Xafology.Spreadsheet" version="1.2.5827.38362" targetFramework="net45" />
  <package id="Xafology.StringEvaluators" version="1.2.5826.39146" targetFramework="net45" />
  <package id="Xafology.Utils" version="1.2.5826.39144" targetFramework="net45" />
</packages>